<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/public/recipe/style.css" type="text/css">
    <link rel="stylesheet" href="/public/nav/style.css" type="text/css">
    <title><%= name%></title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <main>
      <div id="wrapper">

        <div id="leftWrapper" class="sidewrapper">
          <div id="stickyLeft">
            <%
              if(alreadySaved == true)
              {
                %>
                <div id="add" class="alreadySaved">-</div>
                <%
              }
              else
              {
                %>
                <div id="add">+</div>
                <%
              }
            %>
            <img src="<%=imgURL%>" alt="">
            <%
              if(permissions)
              {
                %><div id="actions">
                  <a href="/add/<%=_id%>" id="update" class="option">Update</a>
                  <div id="delete" class="option">Delete</div>
                </div><%
              }
            %>
            <div id="underImgDescription">
              <h1><%= name%></h1>
              <div id="tags">
                <div class="tag"><%=sumOfKcal%>kcal</div>
                <%
                  tastes.forEach((taste)=>{
                    %>
                    <div class="tag"><%=taste%></div>
                    <%
                  });
                %>
                <div class="tag"><%=meatvege%></div>
                <div class="tag"><%=meal%></div>
              </div>
            </div>
          </div>
        </div>

        <div id="rightWrapper" class="sidewrapper">

          <div id="ingredients">

            <%
              ingredients.forEach((ingredient)=>{

                %>
                <div class="row">
                  <%=ingredient.amount%> of <%=ingredient.name%>

                  <div class="kcal">
                    <%=ingredient.kcal%> kcal
                  </div>
                </div>
                <%

              });
            %>

          </div>

          <div id="instruction">
            <h2>How to make it?</h2>
            <p>
              <%-
                howToPrepare.replace(/(?:\r\n|\r|\n)/g, '<br>');
              %>
            </p>
          </div>

          <div id="rateWrapper">
            <div class="rateCol">
              <%
                let average = 0
                if(rates.average)
                {
                  average = rates.average;
                  average*=100;
                  average = Math.round(average);
                  average /=100;
                }

              %>
              <%=average%>/5
              <img src="/public/img/star.png" alt="">
            </div>
            <div class="rateCol">
              <select name="rate" id="">
                <%
                let index = rates.author.indexOf(user);
                  if(index>=0)
                  {
                    %><option value="<%=rates.rate[index]%>"><%=rates.rate[index]%></option><%
                  }
                %>
                <option value="none">-</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
              <button id="rateButton">Rate Me!</button>
            </div>
          </div>

          <div id="authorFooter">
            <div>Brought to you by: </div>
            <a href="/search/<%=author%>"><%=author%></a>
          </div>

        </div>

      </div>
      <div id="recipeId" style="display:none"><%= _id%></div>
    </main>
    <script type="text/javascript" src="/public/scripts/recipes/saveRecipe.js"></script>
    <script type="text/javascript" src="/public/scripts/recipes/deleteRecipe.js"></script>
    <script type="text/javascript" src="/public/scripts/recipes/rateRecipe.js"></script>
  </body>
</html>
