<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/public/recipe/style.css" type="text/css">
    <link rel="stylesheet" href="/public/nav/style.css" type="text/css">
    <title></title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <main>
      <div id="wrapper">

        <div id="leftWrapper" class="sidewrapper">
          <div id="stickyLeft">
            <%
              if(alreadySaved == true)
              {
                %>
                <div id="add" class="alreadySaved">-</div>
                <%
              }
              else
              {
                %>
                <div id="add">+</div>
                <%
              }
            %>
            <img src="<%=imgURL%>" alt="">
            <div id="underImgDescription">
              <h1><%= name%></h1>
              <div id="tags">
                <div class="tag"><%=sumOfKcal%>kcal</div>
                <%
                  tastes.forEach((taste)=>{
                    %>
                    <div class="tag"><%=taste%></div>
                    <%
                  });
                %>
                <div class="tag"><%=meatvege%></div>
                <div class="tag"><%=meal%></div>
              </div>
            </div>
          </div>
        </div>

        <div id="rightWrapper" class="sidewrapper">

          <div id="ingredients">

            <%
              ingredients.forEach((ingredient)=>{

                %>
                <div class="row">
                  <%=ingredient.amount%> of <%=ingredient.name%>

                  <div class="kcal">
                    <%=ingredient.kcal%> kcal
                  </div>
                </div>
                <%

              });
            %>

          </div>

          <div id="instruction">
            <h2>How to make it?</h2>
            <p>
              <%=
                howToPrepare.replace('\n', '<br>')
              %>
            </p>
          </div>

          <div id="authorFooter">
            <div>Brought to you by: </div>
            <a href=""><%=author%></a>
          </div>

        </div>

      </div>
      <div id="recipeId" style="display:none"><%= _id%></div>
    </main>
    <script type="text/javascript" src="/public/scripts/recipes/saveRecipe.js"></script>
  </body>
</html>
